@{
    ViewBag.Title = "Dashboard 2.0";
}

<div class="jumbotron">
    <div class="row">
        <h2>Jonathan Fraimorice (yonifra@gmail.com)</h2>
    </div>
    <h4>Software Engineer, AVT Inc.</h4>
    <p class="lead">Keywords: .NET, ASP, WPF, C#, Visual Studio</p>
    <p>
        <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <h3>Social Keyword Analysis</h3>
            <p>
                <img src="../Shared/FirstChart.cshtml" alt="Chart 1" />
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <h3>Industries</h3>
            <p>
                <img src="../Shared/SecondChart.cshtml" alt="Chart 2" />
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <h3>Professional Titles</h3>
            <p>
                <img src="../Shared/ThirdChart.cshtml" alt="Chart 3"/>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <h3>Mentioned Companies</h3>
            <p>
                <img src="../Shared/FourthChart.cshtml" alt="Chart 4" />
            </p>
        </div>
    </div>
</div>